/* line 2, index.less */
.container {
  background: url(../image/beijing@2x.png) no-repeat, #f4f4f4;
  background-size: contain;
}
/* line 6, index.less */
.content {
  padding-top: 0.5rem;
}
/* line 9, index.less */
.content-top {
  width: 6.9rem;
  margin: 0 auto;
}
/* line 14, index.less */
.content-top .search {
  position: relative;
  width: 6.9rem;
}
/* line 18, index.less */
.content-top .search input {
  width: 6.9rem;
  height: 0.5rem;
  color: #666666;
  border-radius: 5px;
  border: 0;
  text-indent: 0.9rem;
  font-size: 0.2rem;
}
/* line 26, index.less */
.content-top .search input::-webkit-input-placeholder {
  color: #666666;
}
/* line 30, index.less */
.content-top .search i {
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  top: 0.1rem;
  left: 0.2rem;
  background: url(../image/icon，sousuo@2x.png) no-repeat;
  background-size: 100%;
}
/* line 40, index.less */
.content-top .banner {
  padding: 0.1rem 0;
}
/* line 42, index.less */
.content-top .banner img {
  width: 100%;
}
/* line 48, index.less */
.content-middle {
  padding-bottom: 0.2rem;
}
/* line 51, index.less */
.content-middle .middle {
  width: 6.9rem;
  margin: 0 auto;
}
/* line 55, index.less */
.content-middle .middle .notice {
  height: 2rem;
  background: #fff;
  border: 1px solid #efefef;
  border-radius: 5px;
}
/* line 60, index.less */
.content-middle .middle .notice ul {
  padding: 0 0.18rem 0 0.24rem;
}
/* line 62, index.less */
.content-middle .middle .notice ul li {
  height: 0.5rem;
  border-bottom: 1px solid #efefef;
  box-sizing: border-box;
  position: relative;
  text-indent: 0.4rem;
  padding-top: 0.08rem;
  font-size: 0.22rem;
}
/* line 70, index.less */
.content-middle .middle .notice ul li:first-of-type {
  font-size: 0.24rem;
}
/* line 73, index.less */
.content-middle .middle .notice ul li:last-of-type {
  border: 0;
}
/* line 76, index.less */
.content-middle .middle .notice ul li .rightI {
  left: 0;
  background: url(../image/icon，gonggao@2x.png) no-repeat;
  background-size: 100%;
}
/* line 81, index.less */
.content-middle .middle .notice ul li .rightR {
  right: 0;
  background: url(../image/icon，gengduo@2x.png) no-repeat;
  background-size: 100%;
}
/* line 86, index.less */
.content-middle .middle .notice ul li i {
  width: 0.35rem;
  height: 0.35rem;
  position: absolute;
  top: 0.08rem;
}
/* line 92, index.less */
.content-middle .middle .notice ul li .rightN {
  width: 0.3rem;
  height: 0.3rem;
  background-color: #1a99f2;
  left: 0;
  color: #fff;
  font-size: 0.2rem;
  text-indent: 0.08rem;
  line-height: 0.3rem;
  top: 0.1rem;
}
/* line 106, index.less */
.content-middle .middle .select {
  background: #fff;
  border: 1px solid #efefef;
  border-radius: 5px;
  margin-top: 0.2rem;
}
/* line 111, index.less */
.content-middle .middle .select .select-top {
  width: 6.5rem;
  margin: 0 auto;
}
/* line 114, index.less */
.content-middle .middle .select .select-top li {
  height: 0.6rem;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  position: relative;
  font-size: 0.26rem;
  margin-top: 0.2rem;
}
/* line 121, index.less */
.content-middle .middle .select .select-top li span {
  text-align: center;
  display: inline-block;
  background: #eeeeee;
  height: 0.6rem;
  width: 1.5rem;
  line-height: 0.6rem;
  border-right: 1px solid #d0d0d0;
}
/* line 130, index.less */
.content-middle .middle .select .select-top li .tow {
  width: 4.2rem;
  background: #fff;
  position: relative;
}
/* line 134, index.less */
.content-middle .middle .select .select-top li .tow i {
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  top: 25%;
  right: 0.1rem;
  background: url(../image/icon\,chakan@2x.png) no-repeat;
  background-size: 100%;
}
/* line 144, index.less */
.content-middle .middle .select .select-top li .three {
  width: 4.86rem;
  background: #fff;
  border: 0;
  box-sizing: border-box;
  padding-right: 0.66rem;
}
/* line 151, index.less */
.content-middle .middle .select .select-top li .btm {
  width: 50%;
  box-sizing: border-box;
  color: #fff;
}
/* line 155, index.less */
.content-middle .middle .select .select-top li .btm:nth-child(1) {
  background-color: #ff9d34;
  border-radius: 5px 0 0 5px;
}
/* line 159, index.less */
.content-middle .middle .select .select-top li .btm:nth-child(2) {
  background-color: #1a99f2;
  border-radius: 0 5px  5px 0;
}
/* line 164, index.less */
.content-middle .middle .select .select-top li:last-of-type {
  border: 0;
}
/* line 167, index.less */
.content-middle .middle .select .select-top li i {
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  top: 25%;
  right: 0.16rem;
  background: url(../image/icon，sousuo@2x.png) no-repeat;
  background-size: 100%;
}
/* line 177, index.less */
.content-middle .middle .select .select-top .select-zz {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  top: 0px;
  left: 0px;
  z-index: 99;
  box-sizing: border-box;
}
/* line 186, index.less */
.content-middle .middle .select .select-top .select-zz .select-show-ul {
  position: absolute;
  width: 5rem;
  height: 6.3rem;
  background: #fff;
  top: 50%;
  left: 50%;
  margin-left: -2.5rem;
  margin-top: -4rem;
  z-index: 100;
  padding: 0.25rem;
  border-radius: 0.2rem;
}
/* line 198, index.less */
.content-middle .middle .select .select-top .select-zz .select-show-ul .select-show-li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #d0d0d0;
  padding: 0.18rem 0;
}
/* line 204, index.less */
.content-middle .middle .select .select-top .select-zz .select-show-ul .select-show-li input {
  width: 0.25rem;
  height: 0.25rem;
}
/* line 212, index.less */
.content-middle .middle .select .select-foot {
  width: 6.5rem;
  margin: 0.35rem auto 0.2rem;
}
/* line 215, index.less */
.content-middle .middle .select .select-foot li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #efefef;
  font-size: 0.24rem;
  color: #333333;
  position: relative;
  padding: 0 0.44rem;
  height: 0.5rem;
}
/* line 225, index.less */
.content-middle .middle .select .select-foot li i {
  width: 0.33rem;
  height: 0.33rem;
  position: absolute;
  top: 15%;
}
/* line 232, index.less */
.content-middle .middle .select .select-foot li span:last-of-type {
  color: #999999;
}
/* line 236, index.less */
.content-middle .middle .select .select-foot li .zd {
  background: url(../image/icon，chadan@2x.png) no-repeat;
  background-size: 100%;
}
/* line 240, index.less */
.content-middle .middle .select .select-foot li .cj {
  background: url(../image/icon.choujiang@2x.png) no-repeat;
  background-size: 100%;
}
/* line 244, index.less */
.content-middle .middle .select .select-foot li .yw {
  background: url(../image/icon\,yewu@2x.png) no-repeat;
  background-size: 100%;
}
/* line 248, index.less */
.content-middle .middle .select .select-foot li .tg {
  background: url(../image/feiji\ 26@2x.png) no-repeat;
  background-size: 100%;
}
/* line 252, index.less */
.content-middle .middle .select .select-foot li .left {
  left: 0;
}
/* line 255, index.less */
.content-middle .middle .select .select-foot li .right {
  right: 0;
  background: url(../image/icon，gengduo@2x.png) no-repeat;
  background-size: 100%;
}
/* line 262, index.less */
.content-middle .middle .select .select-number {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* line 266, index.less */
.content-middle .middle .select .select-number li {
  color: #d0d0d0;
  font-size: 0.22rem;
}
/* line 269, index.less */
.content-middle .middle .select .select-number li span {
  display: block;
  text-align: center;
}
/* line 272, index.less */
.content-middle .middle .select .select-number li span:first-of-type {
  color: #1a99f2;
}
/* line 275, index.less */
.content-middle .middle .select .select-number li span:last-of-type {
  color: #adadad;
}
/* line 284, index.less */
.content-middle .middle .success-zz {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  top: 0px;
  left: 0px;
  z-index: 99;
  box-sizing: border-box;
}
/* line 294, index.less */
.content-middle .middle .success-zz .success-box {
  width: 5rem;
  height: 4.66rem;
  position: absolute;
  background: #fff;
  top: 50%;
  left: 50%;
  margin-left: -2.5rem;
  margin-top: -2.33rem;
  border-radius: 0.2rem;
}
/* line 304, index.less */
.content-middle .middle .success-zz .success-box p {
  font-size: 0.24rem;
  color: #666666;
  text-align: center;
  background: #efefef;
  height: 0.6rem;
  line-height: 0.6rem;
  border-radius: 0.2rem 0.2rem 0 0;
}
/* line 313, index.less */
.content-middle .middle .success-zz .success-box .success-content {
  margin: 0 0.6rem;
}
/* line 315, index.less */
.content-middle .middle .success-zz .success-box .success-content .success-content-text {
  border-bottom: 1px solid #efefef;
  font-size: 0.4rem;
  font-weight: bold;
  text-align: center;
  padding: 0.4rem 0 0.3rem;
}
/* line 322, index.less */
.content-middle .middle .success-zz .success-box .success-content .success-content-img {
  padding-top: 0.38rem;
  padding-bottom: 0.45rem;
  border-bottom: 1px solid #efefef;
}
/* line 326, index.less */
.content-middle .middle .success-zz .success-box .success-content .success-content-img ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* line 330, index.less */
.content-middle .middle .success-zz .success-box .success-content .success-content-img ul li {
  line-height: 0.24rem;
}
/* line 332, index.less */
.content-middle .middle .success-zz .success-box .success-content .success-content-img ul li img {
  width: 0.75rem;
  height: 0.75rem;
}
/* line 336, index.less */
.content-middle .middle .success-zz .success-box .success-content .success-content-img ul li span {
  display: block;
  text-align: center;
}
/* line 344, index.less */
.content-middle .middle .success-zz .success-box .success-content .success-content-btn {
  width: 3rem;
  height: 0.5rem;
  border: 1px solid #d0d0d0;
  border-radius: 0.2rem;
  font-size: 0.2rem;
  margin: 0.2rem auto;
  text-align: center;
  line-height: 0.5rem;
}
/* line 357, index.less */
.content-middle .middle .notice-show-zz {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  z-index: 99;
}
/* line 365, index.less */
.content-middle .middle .notice-show-zz .notice-show {
  width: 6.9rem;
  height: 7.4rem;
  background: #fff;
  border-radius: 0.2rem;
  margin: 2.8rem auto 0;
}
/* line 371, index.less */
.content-middle .middle .notice-show-zz .notice-show .notice-show-top {
  border-bottom: 1px solid #d1d1d1;
  text-align: center;
}
/* line 374, index.less */
.content-middle .middle .notice-show-zz .notice-show .notice-show-top span {
  font-size: 0.3rem;
  color: #333333;
  padding: 0.3rem 0;
  display: inline-block;
}
/* line 382, index.less */
.content-middle .middle .notice-show-zz .notice-show .notice-show-middle {
  width: 6.5rem;
  height: 5rem;
  margin: 0.2rem;
  box-shadow: 0.01rem 0.01rem 0.1rem #d0d0d0;
}
/* line 387, index.less */
.content-middle .middle .notice-show-zz .notice-show .notice-show-middle .middle-ul {
  margin: 0.3rem;
}
/* line 390, index.less */
.content-middle .middle .notice-show-zz .notice-show .notice-show-middle .middle-ul ul li {
  font-size: 0.22rem;
  color: #666666;
  border-bottom: 1px solid #d0d0d0;
  padding: 0.14rem 0;
}
/* line 396, index.less */
.content-middle .middle .notice-show-zz .notice-show .notice-show-middle .middle-ul ul li i {
  width: 0.45rem;
  height: 0.45rem;
  margin-right: 0.2rem;
  display: inline-block;
  background: #1a99f2;
  text-align: center;
  line-height: 0.45rem;
  color: #fff;
}
/* line 406, index.less */
.content-middle .middle .notice-show-zz .notice-show .notice-show-middle .middle-ul ul li:last-of-type {
  border: none;
  background: #1a99f2;
  height: 0.6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.1rem;
  color: #fff;
}
/* line 415, index.less */
.content-middle .middle .notice-show-zz .notice-show .notice-show-middle .middle-ul ul li:last-of-type a {
  font-size: 0.26rem;
  text-decoration: none;
  color: #fff;
}
/* line 425, index.less */
.content-middle .middle .notice-show-zz .notice-show .notice-show-foot {
  border-top: 1px solid #d1d1d1;
  text-align: center;
}
/* line 428, index.less */
.content-middle .middle .notice-show-zz .notice-show .notice-show-foot img {
  width: 0.6rem;
  padding: 0.15rem;
}
/* line 438, index.less */
.fixed-box {
  width: 1.4rem;
  background: rgba(255, 255, 255, 0.65);
  position: fixed;
  right: 0;
  top: 50%;
  border-radius: 10px 0  0px 10px;
}
/* line 447, index.less */
.fixed-box .right-ul ul {
  width: 1.3rem;
  margin: 0 auto;
  text-align: center;
  padding: 0.2rem 0;
}
/* line 452, index.less */
.fixed-box .right-ul ul li {
  border-bottom: 1px solid #dddddd;
  font-size: 0.24rem;
  line-height: 0.2rem;
}
/* line 456, index.less */
.fixed-box .right-ul ul li img {
  width: 0.6rem;
}
/* line 459, index.less */
.fixed-box .right-ul ul li span {
  display: block;
  padding-bottom: 0.1rem;
}
/* line 463, index.less */
.fixed-box .right-ul ul li:last-of-type {
  border: none;
}
@media only screen and (min-width: 768px) {
  /* line 577, index.less */
  .container .content {
    padding-top: 15px;
    padding-bottom: 0.7rem;
  }
}
