@rem:1rem/100;
.container{
    background: #f4f4f4;
}
.content{
  background: #f4f4f4;
  overflow: hidden;
}
.content-admin{
    width: 690*@rem;
    margin: 160*@rem auto 0;
    .admin-nav{
        background: #fff;
        border-radius: 10*@rem;
        display: flex;
        justify-content: space-around;
        align-content: center;
        text-align: center;
        padding:20*@rem 0;
        a{
            color: #666666;
            font-size: 20*@rem;
            text-decoration: none;
        }
        img{
            width: 50*@rem;
        }
    }
    .admin-content{
        background: #fff;
        border-radius: 10*@rem;
        margin-top: 10*@rem;
        .admin-content-header{
            width: 100%;
            border-bottom: 1px solid #efefef;
            text-align: center;
            font-size: 24*@rem;
            padding:20*@rem 0;
        }
        ul{
            padding:14*@rem 44*@rem;
            li{
                border-bottom: 1px solid #efefef;
                font-size: 20*@rem;
                text-align: center;
                padding-bottom: 12*@rem;
                padding-top: 12*@rem;
                position: relative;
                height: 25*@rem;
                span{
                    font-weight: bold;
                    float: left;
                }
                
                .header-right{
                    float: left;
                    padding-left: 108*@rem;
                    
                }
                .yellow{
                    color: #ff9d34;
                }
                .green{
                    color: #1af21f;
                }
                a{
                    position: absolute;
                    right: 0;
                    top: 10*@rem;
                    display: inline-block;
                    color: #fff;
                    width: 100*@rem;
                    height: 30*@rem;
                    background: #1a99f2;
                    text-decoration: none;
                    line-height: 30*@rem;
                }
                .yellowbg{
                    background: #ff9d34;
                }
            }
        }
    }
    .admin-a-btn{
       
        margin-top: 20*@rem;
        a{
            width: 100%;
            height: 60*@rem;
            display: inline-block;
            background: #1a99f2;
            border-radius: 10*@rem;
            text-align: center;
            color: #fff;
            text-decoration: none;
            line-height: 60*@rem;
            img{
                width: 30*@rem;
                vertical-align: text-bottom;
            }
        }
    }
}